:root{
    --title-text-color: #212121;
    --mouse-hover-object-color: #2196F3;
    --p-text-color: #757575;
    --first-section-bg-color: #2F303A;
    --third-section-bg-color: #F5F4FA;
    --pure-white: #FFFFFF;
    --sixty-percent-white: rgba(255, 255, 255, 0.6);
}

/*I don't know how to do multicolored text for word 'WebStudio'*/

body {
    font-family: 'Roboto';
}

h1 {
    font-weight: 900;
}

h2, h4 {
    font-weight: 700;
}

.web-studio {
    font-family: 'Raleway';
    font-weight: 700;
}
header {
    font-weight: 500;
}

footer {
    font-weight: 400;
}

p, .plain-text-color {
    color: var(--p-text-color);
    font-weight: 400;
}

.header-link, h2, h4 {
    color: var(--title-text-color);
}

.header-link:hover {
    color:var(--mouse-hover-object-color)
}

.first-section, footer {
    background: var(--first-section-bg-color);
}

.third-section {
    background: var(--third-section-bg-color);
}

.first-section > h1, .white-text {
    color: var(--pure-white);
}

.third-section > h4 {
    font-weight: 500;
}

.first-section > button {
    color: var(--pure-white);
    font-weight: 700;
    background-color: var(--mouse-hover-object-color);
}

.unpure-white-text {
    color: var(--sixty-percent-white);
}