:root{
    --title-text-color: #212121;
    --mouse-hover-object-color: #2196F3;
    --p-text-color: #757575;
    --first-section-bg-color: #2F303A;
    --third-section-bg-color: #F5F4FA;
    --pure-white: #FFFFFF;
    --sixty-percent-white: rgba(255, 255, 255, 0.6);
}

/*I don't know how to do multicolored text for word 'WebStudio'*/

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    list-style: none;
}

h1 {
    font-weight: 900;
}

.header-item {
    letter-spacing: 0.02;
}

.web-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}

.first-section {
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images/first_section_background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.first-section-header {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06;
    margin: 0 auto;
    padding-top: 200px;
    margin-bottom: 30px;
}

.first-section-button {
    display: block;
    color: var(--pure-white);
    font-weight: 700;
    background-color: var(--mouse-hover-object-color);
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06;
    text-align: center;
    padding: 10px 32px;
    margin: 0 auto;
    border-radius: 4px;
}

.second-section-item {
    display: inline-block;
    width: 270px;
    height: 248px;
    text-overflow: clip;
    
}

.second-section-header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    margin-top: 0;
    margin-bottom: 10px;
}

.second-section-text {
    margin: 0;
}

.image-section-header {
    font-weight: 700;
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
}

.image-section-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 0;
    margin-bottom: 94px;
}

.image-section-item {
    display: block;
    width: 370px;
    height: 294px;
}

.image-section-img {
    display: block;
}

.third-section-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.16;
    padding-top: 94px;
    padding-bottom: 50px;
}

.third-section-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    padding-bottom: 94px;
    margin-bottom: 0px;
}

.third-section-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.17;
}

.third-section-item {
    text-align: center;
    display: block;
    width: 270px;
    height: 368px;
    background-color: var(--pure-white);
}

header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17
}

footer, .second-section-text {
    font-weight: 400;
    font-size: 14;
    line-height: 1.71;
}

p, .plain-text-color {
    color: var(--p-text-color);
    font-weight: 400;
}

.header-link, .image-section-header, .second-section-header, .third-section-header {
    color: var(--title-text-color);
}

.header-link:hover {
    color:var(--mouse-hover-object-color)
}

footer {
    background: var(--first-section-bg-color);
}

.third-section {
    background: var(--third-section-bg-color);
}

.first-section-header, .white-text {
    color: var(--pure-white);
}

.unpure-white-text {
    color: var(--sixty-percent-white);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 1px solid orange; */
}

.header-wrap {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.header-list {
    display: flex;
    justify-content: space-between; 
    list-style: none;
}

.header-list-one {
    width: 281px;
}

.plain-text-color {
    margin-left: 50px;
}

.footer-webstudio {
    padding-top: 60px;
    padding-left: 0;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.second-section-list {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    margin: 94px auto;
}
