:root{
    --text-color: #212121;
    --hover-button-color: #2196F3;
    --hover-overlay-color: #2195f3e6;
    --p-text-color: #757575;
    --first-section-bg-color: #2F303A;
    --button-bg-color: #F5F4FA;
    --pure-white: #FFFFFF;
    --sixty-percent-white: rgba(255, 255, 255, 0.6);
}

* {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

/* h1, h2, h3, p, ul, li, img, a, button {
    margin: 0;
    padding: 0;
} */

ul {
    list-style: none;
}

main {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid blue; */
}

/* header settings */

.header-wrap {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
}

.header-list {
    display: flex;
    justify-content: space-between; 
    list-style: none;
}

.header-item {
    letter-spacing: 0.02;
}

.header-list-one {
    width: 281px;
}

.header-phone {
    margin-left: 50px;
    color: var(--p-text-color);
    font-weight: 400;
}

header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17
}

.web-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
}

.header-link {
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
    color:var(--mouse-hover-object-color)
}

/* header settings end here */

/* grid settings */

.main-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 88px repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    list-style: none;
    align-items: flex-start;
}
    
.main-item-pages { 
    grid-area: 1 / 1 / 2 / 4; 
}

.main-item1 { 
    grid-area: 2 / 1 / 3 / 2; 
}

.main-item2 { 
    grid-area: 2 / 2 / 3 / 3; 
}

.main-item3 { 
    grid-area: 2 / 3 / 3 / 4; 
}

.main-item4 { 
    grid-area: 3 / 1 / 4 / 2; 
}

.main-item5 { 
    grid-area: 3 / 2 / 4 / 3; 
}

.main-item6 { 
    grid-area: 3 / 3 / 4 / 4; 
}

.main-item7 { 
    grid-area: 4 / 1 / 5 / 2; 
}

.main-item8 { 
    grid-area: 4 / 2 / 5 / 3; 
}

.main-item9 { 
    grid-area: 4 / 3 / 5 / 4; 
}

.main-item {
    position: relative;
    width: 370px;
    height: 404px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.main-item-wrap {
    position: absolute;
    top: 294px;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: var(--pure-white);
    z-index: 10;
}

.main-item-header {
    margin: 0;
    margin-left: 24px;
    margin-top: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
    color: var(--text-color);
}

.main-item-text {
    margin: 0;
    margin-left: 24px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.875;
    color: var(--p-text-color);
}

.main-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 110px;
    opacity: 0;
    transform: translateY(294px);
    background-color: var(--hover-overlay-color);
    transition: transform 250ms ease-in, opacity 250ms ease-in, height 250ms ease-in;
}

.main-overlay-text {
    margin: 0;
    margin-left: 24px;
    margin-top: 63px;
    width: 322px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    color: var(--pure-white);
}

.main-item:hover .main-overlay {
    opacity: 1;
    transform: translateY(0);
    height: 294px;
}

/* grid settings end here */

.main-item-pages {
    display: block;
    margin: 0 auto;
    width: 575px;
}

.pages-list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    list-style: none;
}

.pages-button1 {
    width: 73px;
}

.pages-button2 {
    width: 125px;
}

.pages-button3 {
    width: 112px;
}
.pages-button4 {
    width: 103px;
}

.pages-button5 {
    width: 130px;
}

.pages-button {
    display: block;
    height: 38px;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: transparent;
    line-height: 1.625;
    font-weight: lighter;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages-button:hover {
    background-color: var(--hover-button-color);
    color: var(--pure-white);
    box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.main-item-header {
    line-height: 2;
    font-weight: bold;
    letter-spacing: 0.06em;
}

/* footer settings */

.footer-webstudio {
    padding-left: 0;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

footer {
    font-weight: 400;
    font-size: 14;
    line-height: 1.71;
    background: var(--first-section-bg-color);
}

.white-text {
    color: var(--pure-white);
}

.unpure-white-text {
    color: var(--sixty-percent-white);
}